#container {
	width: 100%;
	height: 400px;
	display: flex;
}

#sidebar {
	flex: 2;
	border: 0.1px solid red;
}

#main {
	flex: 8;
	padding: 10px;
	text-align: center;
}

#main > .card {
	border: 1px solid grey;
	margin: 5px 0;
}

.card > img {
	width: 80%;
	height: 350px;
	cursor: pointer;
}

.card > h3 {
	font-size: 15px;
	padding: 1%;
	cursor: pointer;
}

.card > p {
	font-size: 12px;
}
